#select language as html which have shortcuts, saved it in a folder name "templates",must be small letter "t" and have a "s"
<html>
    <h1>WS Sentiment Analysis</h1>
    <form action="/" method=""post">
        <p>Please enter text for setiment analysis:</p>
        <p><input type="text" name ="text"></p>  #text is a variable name, can put a, b or c etc
        <p><input type="submit" value="Enter"></p>  #this is the submit button
    </form>
    <p> the sentiment score is {{result}}</p> #this is the variable to throw back the result
</html>